<%-include('header')%>

<section class="content-main">
    <div class="content-header">
        <h2 class="content-title">Add Product </h2>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row gx-5">
                <div class="col-xxl">
                    <section class="content-body p-xl-4">
                        <form action="/admin/product/insert_product" method="post" enctype="multipart/form-data">
                            <div class="row">
                                <div class="card-box">
                                    <div class="d-flex align-items-center mb-3">
                                        <label class="form-label col-lg-2">Select category</label>
                                        <select class="form-select" name="category" id="product-category" onchange="return getsubcat()">
                                            <option>Select</option>
                                            <% cate.map((v,i)=>{%>
                                               
                                            <option value="<%=v.id%>"><%=v.cateName%></option>
                                            <%})%>
                                        </select>
                                    </div>
                                    <div class="d-flex align-items-center mb-3">
                                        <label class="form-label col-lg-2">Select Subcategory</label>
                                        <select class="form-select" name="subcategory" id="product-subcategory" onchange="return getecat()">
                                            <option>Select</option>
                                            <% subcate.map((v,i)=>{%>
                                                
                                            <option value="<%=v.id%>"><%=v.scateName%></option>
                                            <%})%>
                                        </select>
                                    </div>
                                    <div class="d-flex align-items-center mb-3">
                                        <label class="form-label col-lg-2">Select Extracategory</label>
                                        <select class="form-select" name="extracategory" id="product-ecategory" onchange="return getbrand()">
                                            <option>Select</option>
                                            <% extracate.map((v,i)=>{%>
                                                
                                            <option value="<%=v.id%>"><%=v.ecateName%></option>
                                            <%})%>
                                        </select>
                                    </div>
                                    <div id="BrandType">
                                        <div class="d-flex align-items-center mb-3">
                                            <label class="form-label col-lg-2">Select Brand</label>
                                            <select class="form-select" name="brandname" id="product-brand" onchange="return gettypes()">
                                                <option>Select</option>
                                                <% brand.map((v,i)=>{%>
                                                    
                                                <option value="<%=v.id%>"><%=v.brandname%></option>
                                                <%})%>
                                            </select>
                                        </div>
                                        <div class="d-flex align-items-center mb-3">
                                            <label class="form-label col-lg-2">Select Type</label>
                                            <select class="form-select" name="typeName" id="product-type">
                                                <option>Select</option>
                                                <% typeData.map((v,i)=>{ %>
                                                    
                                                    <option value="<%= v.id %>">
                                                        <%= v.typeName %>
                                                    </option>
                                                    <% }) %>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="d-flex gx-4 align-items-center mb-3">
                                        <label class="form-label col-lg-2">Add Product</label>
                                        <input type="text" placeholder="Product Name" class="form-control"
                                            name="product_title">
                                    </div>
                                    <div class="d-flex gx-4 align-items-center mb-3">
                                        <label class="form-label col-lg-2">Product Price</label>
                                        <input type="text" placeholder="Product Price" class="form-control"
                                            name="product_price">
                                    </div>
                                    <div class="d-flex gx-4 align-items-center mb-3">
                                        <label class="form-label col-lg-2">Old Price</label>
                                        <input type="text" placeholder="Old Price" class="form-control"
                                            name="product_old_price">
                                    </div>
                                    <div class="d-flex gx-4 align-items-center mb-3">
                                        <label class="form-label col-lg-2">Product Description</label>
                                        <textarea name="product_Discription" class="form-control" cols="30"
                                            rows="10"></textarea>
                                    </div>
                                    <div class="col-lg-12  mb-3 d-flex align-items-center">
                                        <label class="form-label col-lg-2">Product Size</label>
                                        <div class="d-flex">
                                            <label class="form-check ms-2">
                                                <span class="form-check-label">36</span>
                                                <input class="form-check-input" name="Product_size" type="radio"
                                                    value="36">
                                            </label>
                                            <label class="form-check ms-2">
                                                <span class="form-check-label"> 38</span>
                                                <input class="form-check-input" name="Product_size" type="radio"
                                                    value="38">
                                            </label>
                                            <label class="form-check ms-2">
                                                <span class="form-check-label"> 40</span>
                                                <input class="form-check-input" name="Product_size" type="radio"
                                                    value="40">
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-12  mb-3 d-flex align-items-center">
                                        <label class="form-label col-lg-2">Product Colour</label>
                                        <div class="d-flex">
                                            <label class="form-check ms-2">
                                                <span class="form-check-label">Gray</span>
                                                <input class="form-check-input" name="Product_color" type="radio"
                                                    value="Gray">
                                            </label>
                                            <label class="form-check ms-2">
                                                <span class="form-check-label"> Black</span>
                                                <input class="form-check-input" name="Product_color" type="radio"
                                                    value="Black">
                                            </label>
                                            <label class="form-check ms-2">
                                                <span class="form-check-label"> White</span>
                                                <input class="form-check-input" name="Product_color" type="radio"
                                                    value="White">
                                            </label>
                                        </div>
                                    </div>
                                    <div class="d-flex gx-4 align-items-center mb-3">
                                        <label class="form-label col-lg-2">Product Image</label>
                                        <input type="file" name="ProductImage" class="form-control" id="formFile">
                                    </div>
                                    <div class="d-flex gx-4 align-items-center mb-3">
                                        <label class="form-label col-lg-2">Product Images</label>
                                        <input name="multipleproductimage" type="file" class="form-control" id="formFileMultiple" multiple>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <button class="btn btn-primary" type="submit">Add Product</button>
                        </form>
                    </section>
                </div>
            </div>
        </div>
    </div>
</section>
<%-include('footer')%>