<%-include('header')%>

<div class="col-xxl">
    <div class="card mb-4">
      <div class="card-header d-flex align-items-center justify-content-between">
        <h5 class="mb-0">Basic with Icons</h5> <small class="text-muted float-end">Merged input group</small>
      </div>
      <div class="card-body">
       <div class="col-xxl">
        <div class="form-group mb-3">
            <label for="product-category">Category<span class="text-danger">*</span></label>
            <select class="form-select" name="category" id="product-category" >
                <option><%= tdata.category.cateName%></option>
                
            </select>
        </div>

        <div class="form-group mb-3">
            <label for="product-category">Sub Category<span class="text-danger">*</span></label>
            <select class="form-select" name="subcategory" id="product-subcategory">
                <option><%= tdata.subcategory.scateName%></option>
                
            </select>
        </div>

        <div class="form-group mb-3">
            <label for="product-category">Extra Category<span class="text-danger">*</span></label>
            <select class="form-select" name="extracategory" id="product-ecategory" >
                <option><%= tdata.extracategory.ecateName%></option>
                
            </select>
        </div>

        <div class="form-group mb-3">
            <label for="product-category">Brand<span class="text-danger">*</span></label>
            <select class="form-select" name="brandname" id="product-brand">
                <option><%= tdata.brandname.brandname%></option>
                
            </select>
        </div>
        <form action="/admin/type/updatetypedata" method="post">
            <div class="card-box">
                
                <input type="hidden" name="EditId" value="<%=tdata.id%>">
                <div class="form-group mb-3">
                    <label for="product-name">Type Name <span class="text-danger">*</span></label>
                    <input type="text" id="product-name" value="<%=tdata.typeName%>" name="typeName" class="form-control" placeholder="e.g : Shirt">
                </div>

                
            </div>
            <div class="text-center mb-3" style="transform: translateX(260px);">
                <button type="reset" class="btn w-sm btn-danger waves-effect">Reset</button>
                <button type="submit" class="btn btn-primary">Send</button>
            </div>
        </form>
  </div>
      </div>
    </div>
  </div>

<%-include('footer')%>